@model IEnumerable<AirLineTicketsApp.Entities.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandLuggageVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountPassengerSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneModel)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.PlanePhoto)"alt="img" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandLuggageVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountPassengerSeats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
